body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  .sr-menu {
    padding-bottom: 3px;
    border-bottom: .5px solid #ccc;

    .erp-logo {
      height: 46px;
      width: 46px;
      display: inline-block;
      vertical-align: middle;
      background: lawngreen url("../images/shamba-records-logo.png") no-repeat center center;
      background-size: contain;
    }
  }

  .erp-main-nav {
    padding: 0 1rem;
    border: 0;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #ffffff;

    .p-megamenu-root-list {
      flex-grow: 1;

      li a {
        border: 0;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;

        &.p-menuitem-link:not(.p-disabled):hover {
          background-color: transparent !important;
        }

        &.p-menuitem-link-active {
          border-bottom: 3px solid #76b900;
        }

        &:hover {
          background-color: transparent;
          border-bottom: 3px solid #76b900;
        }
      }

      .p-megamenu-end {
        flex-grow: 1;

        ul.erp-main-nav-ul {
          display: flex;
          flex-direction: row;
          list-style: none;
          padding-left: .5rem;

          li.span {
            list-style: none;
            flex-grow: 1;
          }

          li.erp-main-nav-ul-li {
            padding-top: 3px;
            flex-grow: 0;
            list-style: none;
          }
        }
      }
    }
  }

  .erp-breadcrumb-nav {
    margin-top: 3px;
    border-right: 0;
    border-left: 0;
  }

  .erp-main {
    min-height: 87.5vh;
  }

  footer.erp-footer {
    height: 40px;
  }
}



