<div class="sr-menu">
  <p-megaMenu [model]="items" styleClass="erp-main-nav">
    <ng-template pTemplate="start"><a [routerLink]="['app/home']"><span class="erp-logo"></span></a></ng-template>
    <ng-template pTemplate="end">
      <ul class="erp-main-nav-ul">
        <li class="span"></li>
        <li *ngIf="account" class="erp-main-nav-ul-li">
          <button *ngIf="account" pButton type="button" label="Sign Out" (click)="logout()" class="p-button-info"></button>
        </li>
      </ul>
    </ng-template>
  </p-megaMenu>
</div>
<ng-container *ngIf="breadcrumbs.length  > 1">
  <p-breadcrumb styleClass="erp-breadcrumb-nav" [model]="breadcrumbs"></p-breadcrumb>
</ng-container>


