<erp-navbar></erp-navbar>
<div class="grid-nogutter bg-blue-50">
  <p-toast position="top-center"></p-toast>
  <div class="erp-main">
    <router-outlet></router-outlet>
  </div>
  <erp-footer></erp-footer>
</div>
